<html>
	<head>
		<title>Editar Informações</title>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="assets/stylesheets/sky-forms.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
	</head>
	<body class="bg-cyan">
		<div class="body body-s">
		
			<%= form_for(resource, as: resource_name, :html => {class:"sky-form"}, url: registration_path(resource_name)) do |f| %>

				<header>Editar Informações</header>
				
				<fieldset>					
					<section>
						<label class="input">
							<i class="icon-append icon-user"></i>
							<%= f.text_field :name, placeholder:"Nome"%>
							<b class="tooltip tooltip-bottom-right">Não usar números de preferência</b>
						</label>
					</section>
					
					<section>
						<label class="input">
							   <%= f.date_field :birthday %>
						</label>
					</section>
					
					<div class="row">
						<section class="col col-6">
							<label class="input">
								<%= f.text_field :city, placeholder:"Cidade"%>
							</label>
						</section>
						<section class="col col-6">
							<label class="input">
								<%= f.text_field :state, placeholder:"Estado"%>
							</label>
						</section>
					</div>
					
					<section>
						<label class="select">
							<select>
								<option <%= f.radio_button :gender, false %> <%= f.label :gender, "Homem"%> </option>>
								<option <%= f.radio_button :gender, true %> <%= f.label :gender, "Mulher"%> </option>>
							</select>
							<i></i>
						</label>
					</section>
				</fieldset>
					
				<fieldset>			
					<section>
						<label class="input">
							<i class="icon-append icon-lock"></i>
							<%= f.password_field :password, autocomplete: "off", placeholder:"Senha"%><i>(deixe em branco se não quiser alterar)</i>
							<b class="tooltip tooltip-bottom-right">No mínimo 6 caracteres</b>
						</label>
					</section>
					
					<section>
						<label class="input">
							<i class="icon-append icon-lock"></i>
							<%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"Confirmar Senha"%><i>(deixe em branco se não quiser alterar)</i>
							<b class="tooltip tooltip-bottom-right">No mínimo 6 caracteres</b>
						</label>
					</section>
					
					<section>
						<label class="input">
							<i class="icon-append icon-lock"></i>
							<%= f.password_field :current_password, autocomplete: "off", placeholder:"Digite sua senha atual" %><i>(Informe sua senha para salvar as alterações)</i>
							<b class="tooltip tooltip-bottom-right">No mínimo 6 caracteres</b>
						</label>
					</section>
				</fieldset>
				<footer>
					<button type="submit" class="button">Atualizar</button>
					<%= link_to("Excluir minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza?" }, method: :delete, :class => "button button-secondary") %>
				  <p><%= devise_error_messages! %></p>
				</footer>
			<% end %>	
			</form>
			
		</div>
	</body>
</html>