<html>
	<head>
		<title>Criar Evento</title>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="assets/stylesheets/sky-forms.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
	</head>
	<body class="bg-cyan">
		<div class="body">			
		
			<%= form_for @evento, html: { multipart: true, class:"sky-form" } do |f| %>
				<header>Criar Evento</header>
				
				<fieldset>
					<section>
						<h3>Foto</h3>
						<label for="file" class="input input-file">
							<%= f.file_field :image%>
						</label>
					</section>
					
					<section>
						<h3>Nome</h3>
						<label class="input">
							<%= f.text_field :nome%>
						</label>
					</section>
						
					<section>
						<h3>Descrição</h3>
						<label class="textarea textarea-resizable">
							<%= f.text_area :descricao %>
						</label>
					</section>
					
					<section>
						<h3>Inicio</h3>
						<label class="input">
							<%= f.datetime_local_field :inicio %>
						</label>
					</section>
					
					<section>
						<h3>Fim</h3>
						<label class="input">
							<%= f.datetime_local_field :fim %>
						</label>
					</section>
					
					<section>
						<h3>Nome do Local</h3>
						<label class="input">
							<%= f.text_field :nome_local, value: params[:nome_local] %>
						</label>
					</section>
					
					<section>
						<h3>Endereço</h3>
						<label class="input">
							<%= f.text_field :endereco, value: params[:endereco_local] %>
						</label>
					</section>
				</fieldset>
				
				<footer>
					<button type="submit" class="button">Confirmar</button>
					<%= link_to('Cancelar', eventos_path, :class=>"button button-secondary") %>
				</footer>
				<% end %>
			</form>	
		</div>
	</body>
</html>