<h3>A busca está restrita a locais de Recife</h3>

<div class="row">
  <div class="col-md-4">
     
     <div>
     <%= form_tag '/places/search_with_yelp', :method => 'get' do %>
        <%= text_field_tag(:search_input) %>
        <%= submit_tag("Pesquisar", :class=>"btn") %>
        <%= link_to 'Usar Dados abertos de Recife ', places_search_with_dados_abertos_path, id: 'dados_abertos_recife', :class=>"btn btn-gray" %>
        <%= link_to 'Voltar', eventos_path, :class=>"btn btn-gray"%>
     <%end%>
     </div>
   </div>
</div>