<h1>Resultados Locais</h1><br/>

<% unless @response.nil? %>
  <p>
  <% @response['businesses'].each do |local| %>
    <p><table>
      <tr>
        <td><%= image_tag(local['image_url'], size: "150x150", alt: "Edit Entry")%></td>
        <td> <h3>&nbsp &nbsp<%= local['name'] %></h3>
    		&nbsp &nbsp <b>Endereço: </b> 
    		<% local['location']['display_address'].each do |endereco| %>
          <%= endereco %>
        <%end%> 
    		<br/><br/> &nbsp &nbsp <%= link_to "#{local['name']} parece ser um bom lugar", new_evento_path(:nome_local => local['name'], :endereco_local => local['location']['display_address']), id: local['name'].gsub(' ', '_'), :class=>"btn"   %></td> 
      </tr>
    </table></p><hr />
    
  <%end%>
  <p>
<% else %>
  <h3>Nenhum lugar encontrado</h3>
<%end%>

<%= link_to 'Procurar outros lugares', places_search_type_path, :class=>"btn" %>
